body{
  background-color: #222;
  color : lightcyan;
  height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center;
}

#root{
  border: 1px solid white;
  padding: 30px;
  border-radius: 30px;
}

@media (max-width : 780px) {
  body{
    height: 1100px;
  }
}
